*{
  margin:0;
  padding: 0;
}

body{

  font-size: xx-large;
}

header > img{
  width: fit-content;
  height: 200px;
  place-self: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:slateblue;
  padding: 10px;
  
  }

header > h1{
  place-self: center;
  color: white;
  font-size: 4rem;
  }

header > nav{
place-self: center;
}

nav > a{
  text-decoration: none;
  padding: 20px;
  font-size: 2rem;
  font-weight: bolder;
  color:white;
}

a:hover{
color: red;
}

#main-about > section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  }



section{
display: flex;
justify-content: center;

}


article > p >a{
  text-decoration: none;
  padding: 20px;
  font-size: 2rem;
  font-weight: bolder;
  font-weight: bolder;
  color: black;
  
}



footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: black;
  
}

footer > h4{
  background-color: black;
  color: white;
  padding: 100px;
  width: max-content;
  font-size:large;
}