*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:blueviolet;
  padding:20px ;
}

h1{
  color: white;
}

nav > a{
  text-decoration: none;
  margin: 10px;
  font-weight: bolder;
  color: white;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: black; 
}

a:hover{
  color: red;
}

#main-index{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-about{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-profile ul{
  list-style-type: none;
  
}

#code-image{
height:300px;
border: 2px dotted gray;
}

#main-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#main-contact form{
background-color:wheat;
width: 300px;
padding: 100px;
}

form input{
  margin: 15px;
}

form textarea{
  width: 300px;
  height: 100px;
}


footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  height: 100px;
}

footer h4{
  padding-top: 30px;
}
